@charset "UTF-8";

/* 입력 필드 초기화 */
button, input, select, textarea {
    margin: 0;
    padding: 0;
}

/* 입력 필드 텍스트 스타일 */
button, input, select, td, textarea, th {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Malgun Gothic','맑은 고딕',sans-serif;
    color: #222;
}

/* IE 브라우저 clear 버튼 숨김 */
input[type=text]::-ms-clear {
    display: none;
}

/* 입력 필드 검색 취소 버튼 숨김 */
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* 우편번호 입력 필드 */
#sample4_postcode {
    width: 100px;  /* 우편번호는 짧게 */
}