@charset "UTF-8";

body {
	background-color: #fffadd;
	background: linear-gradient(to right, #fffadd, #ffffff);
	margin: 0;
}

#logincheck-main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 970px;
	padding: 20px;
}

.main-content {
	margin-top: 0px;
	background: #fff;
	padding: 0px 30px;
	border-radius: 30px;
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
	width: 550px;
	height: 450px;
	text-align: center;
}

#login-font {
	font-family: Sans-serif;
	font-style: italic;
	font-size: 40px;
	color: grey;
}

#check-line, #check-line1, #check-line2, #check-line3 {
	margin-top: 10px;
	display: flex;
}

#check-content, #check-content2, #check-content3 {
	display: flex;
	justify-content: center;
}

#check-contentbox, #check-contentbox2, #check-contentbox3 {
	overflow: auto;
	max-width: 500px;
	color: #6f6f6f;
	font-size: 12px;
	max-height: 130px;
	border: 1px solid grey;
	white-space: pre-line;;
	border-radius: 3px;
}

#login-next {
	margin-top: 30px;
	background-color: #fffadd;
	color: #cccccc;
	border: none;
	padding: 12px;
	width: 90px;
}

.login-mustcheck {
	color: red;
}

.main-section {
	display: flex;
	flex-direction: column;
}

#agree-button {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding: 20px;
	gap: 30px;
}

#logincheck-inner-header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

#join {
	cursor: pointer;
	height: 50px;
	background-color: #fffadd;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	color: #222;
	border-radius: 5px;
}

#cancle {
	cursor: pointer;
	height: 50px;
	background-color: grey;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	color: #cccccc;
	border-radius: 5px;
}

#cancle:hover {
	background-color: #cccccc;
	color: #6f6f6f;
}

#join:hover {
	background-color: #fff6c2;
}